#page
{
   background-color:#FFFAFA;
}
#profile
{
    border-bottom: 1px solid tan;
    background-image: url('assets/bg.png');
    
}
#table
{
    width: 100%;
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.5);
    color: white;
    font-weight: bold;
    padding: 20px;
    text-align: center;
}
#imgProfile
{
    width: 200px;
    height: 200px;
    border-radius: 75px;
}
#name
{
    padding-left: 100px;
    font-size: 40px;
}
/* #table1
{
    border: 1px solid black;
} */
#word
{
    font-size: 20px;
    color: red;
    border-radius: 50px;
    padding: 10px;
    background-color: black;
}
#photocontain
{
    margin: 0 auto;
    width: 70%;
    
}
#photo
{
    float: left;
    margin: 5% 6% 0 6%;
    height: 35%;
    width: 50%;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
    border-radius: 5px;
    
}
#butl
{
    margin-top: 9%;
    float: left;
    background-color: #FFFAFA;
    border: none;
}
#butl:hover,#butr:hover
{
    cursor: pointer;
    
}
#butr
{
    margin-top: 9%;
    float: left ;
    background-color: #FFFAFA;
    border: none;
}
#contain
{
    margin: 50px auto;
}
#biology
{
    margin: 25% auto;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
}
#bio
{
    width: 40%;
    float: left;
    background-color: 	#F8F8FF	;
    box-shadow: 1px 0px 13px #778899 ;
    margin-left: 50px;
    padding-left: 1%;
}
#preference
{
    width: 50%;
    float: left;
    background-color:#F8F8FF;
    box-shadow: 1px 0px 13px #778899 ;
    margin-left: 50px;
    padding-left: 1%;
}
#contain
{
    display: table;
    clear: both;
}
#flex
{
    display: flex;
    justify-content: center;
}
#speciality
{
    background-color:#F8F8FF;
    box-shadow: 1px 0px 13px #778899 ;
    margin: 7% 20%;
    text-align: center;
}
#table2
{
    margin: 20px auto;
    text-align: center;
}
td
{
    padding: 15px;
}
li
{
    padding: 11px;
}
#footer
{
    border-top: 1px solid tan;
    background-color: white;
}
#table3
{
    width: 100%;
}
#icon
{
    border-radius: 15px;
}
